<html>
    <head>
        <title>e713欢迎您</title>
        <link rel="icon" href="image/ico.ico">
        <meta http-equiv="Refresh" content="">
    </head>
    <body>
        <center><iframe scrolling="no" src="src" id="ss" height='40'></iframe></center>
        <br>
        <center><iframe scrolling="no" src="sr" id="s" height='40'></iframe></center>
        <SCRIPT>
        function a(){
            ss.src=ss.src;
            area.value=ss.document.body.innerText;
        }
        function refresha(){
            document.getElementById('ss').contentWindow.location.reload(true)
        }
        setInterval(refresha,2333)
        function b(){
            s.src=s.src;
            area.value=s.document.body.innerText;
        }
        function refreshb(){
            document.getElementById('s').contentWindow.location.reload(true)
        }
        setInterval(refreshb,2223)
        </SCRIPT>
        <SCRIPT>
        </SCRIPT>
    </body>
</html>
